<div class="section no-pad-bot" id="index-banner">
<div class="container">
  <br><br>
  <h1 class="header center orange-text"><%= @brainwave.name %></h1>
  <div class="row center">
    <h5 class="header col s12 light"><%= @brainwave.frequency %></h5>
  </div>
  <div class="row center">
    <h5 class="header col s12 light"><%= @brainwave.description %></h5>
  </div>
  <div class="row center">
  <a href="/brainwaves" id="download-button" class="btn-large waves-effect waves-light orange">Back to All Brainwaves</a>
  </div>
  <div class="row center">
  <%= link_to "View Activities", brainwave_activities_path(@brainwave.id), :id => "download-button", :class => "btn-large waves-effect waves-light orange" %>
  </div>
  <br><br>
</div>
</div>







